# IDE
.idea
nbproject
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

#yii
.htaccess
assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
protected/config/*local.php
framework/*
tmp/*
sxd/

#node_modules
node_modules/*


css/main.min.css
css/main.min.map
css/main.min.css.map

js/tinymce/**
js/tinymce222/**