# IDE
.idea
nbproject
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

#yii
.htaccess
assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
protected/config/*local.php
framework/*
tmp/*
sxd/

#node_modules
node_modules/*


css/main.min.css
css/main.min.map
css/main.min.css.map

js/tinymce/**
js/tinymce222/**
/thumb/*
assets/
framework/
js/jquery-ui-1.10.3.custom.min.js
node_modules/
protected/commands/
protected/extensions/
protected/migrations/
protected/modules/TranslatePhpMessage/components/
protected/modules/TranslatePhpMessage/messages/
protected/modules/TranslatePhpMessage/models/
protected/modules/TranslatePhpMessage/views/layouts/
protected/runtime/
protected/tests/fixtures/
protected/tests/report/
protected/tests/unit/
tmp/
