#arrowToTop {
	position: fixed;
	right:25px;
	bottom: 8vh;
	z-index: 10;
	cursor: pointer;
	padding: 12px 16px;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 50%;
	color: #eeeeee;
}

#arrowToTop:hover {
	background-color: rgba(0, 0, 0, 0.6);
	transition: 300ms;
}