.likes-block {
    display: flex;
    justify-content: flex-end;
}

.likes-block a {
    width: 24px;
    height: 24px;
    background-image: url("../images/likes-ico.png");
    background-repeat: no-repeat;
}

.likes-block a:not(:last-child) {
    margin-right: 10px;
}

.likes-block__fb {
    background-position: 0 0;
}

.likes-block__vk {
    background-position: -29px 0;
}

.likes-block__tw {
    background-position: -58px 0;
}

.likes-block__ok {
    background-position: -87px 0;
}

.likes-block__gp {
    background-position: -116px 0;
}