#login-form input[type=text],
#login-form input[type=password] {
	border:#d0d0d0 1px solid; 
	width:100%;
}

#login-form label {
	margin: 5px 0;
	display: block;
}

.errorMessage {
	color: #900;
}