.home-page-top {
	display: flex;
	flex-direction: column;
	margin-bottom: 2vw;
}

.home-page-top__banner {
	flex: 1;
	margin-bottom: 2vw;
	background-color: #ffffff;
}

.home-page-top__search {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1vw 1.2vw;
  background-color: white;
  box-shadow: var(--block-shadow);
}

/* TMP */
.home-page-top__search .side-ico {
	margin-left: auto;
}
/* /TMP */


.home-page-bottom {
	display: flex;
	flex-direction: column;
}

.home-page-bottom h2 {
	color: #71caf2;
	font-size: 24px;
	font-weight: 300;
	line-height: 30px;
	margin: 0;
	margin-bottom: 25px;
}

.home-page-bottom__about,
.home-page-bottom__offer {
	flex: 1;
	margin-bottom: 1vw;
	padding: 1vw 1.2vw;
  background-color: white;
  box-shadow: var(--block-shadow);
}

.about-us {
	margin-bottom: 30px;
}

.lastest-news__list {
	padding: 0;
	list-style: none;
}

.lastest-news__item {
	display: block;
	position: relative;
	margin-bottom: 30px;
	border-bottom: 3px solid var(--main-blau);
	background-color: #f2f2f2;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-radius: 0px;
	padding: 8px;
	transition: 300ms;
}

.lastest-news__item:hover {
	box-shadow: 0 2px 5px var(--main-yellow);
	transform: translateY(-2px);
	transition: 300ms;
}

.lastest-news__link {
	display: block;
}

.lastest-news__date {
	position: absolute;
	top: 0;
	left: 0;
	padding: 3px 5px 1px;
	background-color: #dadada;
	border-bottom: 2px solid var(--main-yellow);
	border-right: 2px solid var(--main-yellow);
	border-bottom-right-radius: 4px;
	color: #333333;
}

.lastest-news__more {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 4px 12px 0;
	background-color: #71caf2;
	color: #333333;
	border-top-left-radius: 4px;
}

.lastest-news__head {
	margin: 0;
	padding-left: 100px;
	padding-bottom: 25px;
	color: #777;
	font-size: 18px;
	font-weight: 500;
}

.lastest-news__dscr {
	margin: 0;
	padding-bottom: 25px;
	color: #333333;
}


/* Responsive section */

@media (min-width: 700px) {
  
    .home-page-top {
      flex-direction: row;
    }
    
    .home-page-top__banner {
      flex: 2;
      margin-right: 2vw;
      margin-bottom: 0;
    }
  
    .home-page-top__search {
      max-width: 340px;
    }
  
    .home-page-bottom {
      flex-direction: row;
    }
    
    .home-page-bottom__about {
      margin-right: 2vw;
    }
    
    .home-page-bottom__offer {
      flex: 2;
    }
  }
  
  /* End of Responsive section */