.home-page-top__left,
.home-page-top__right,
.home-page-bottom__left,
.home-page-bottom__right {
	margin-bottom: 1vw;
	background-color: #ffffff;
	box-shadow: var(--block-shadow);
	padding: 1vw 1.2vw;
}

.home-page-bottom {
	display: flex;
	flex-direction: column;
}

/* Responsive section */

@media (min-width: 700px) {
  
    .home-page-top,
		.home-page-bottom {
			display: flex;
			flex-direction: row;
		}
		
		.home-page-top__left,
		.home-page-bottom__left {
      margin-right: 1vw;
    }
		
    .home-page-top__right {
			max-width: 340px;
		}
		
		.home-page-top__left,
    .home-page-top__right,
    .home-page-bottom__left,
    .home-page-bottom__right {
      flex: 1;
    }
		
		.home-page-top__left--wide,
    .home-page-top__right--wide,
    .home-page-bottom__left--wide,
    .home-page-bottom__right--wide {
      flex: 2;
    }
  }
  
	/* End of Responsive section */
	

.duo-link {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* TMP */
.duo-link .side-ico {
	margin-left: auto;
}
/* /TMP */

.about-us {
	margin-bottom: 30px;
}

.lastest-news__list {
	padding: 0;
	list-style: none;
}

.lastest-news__item {
	display: block;
	position: relative;
	margin-bottom: 30px;
	border-bottom: 3px solid var(--main-blau);
	background-color: #f2f2f2;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-radius: 0px;
	padding: 8px;
	transition: 300ms;
}

.lastest-news__item:hover {
	box-shadow: 0 2px 5px var(--main-yellow);
	transform: translateY(-2px);
	transition: 300ms;
}

.lastest-news__link {
	display: block;
}

.lastest-news__date {
	position: absolute;
	top: 0;
	left: 0;
	padding: 3px 5px 1px;
	background-color: #dadada;
	border-bottom: 2px solid var(--main-yellow);
	border-right: 2px solid var(--main-yellow);
	border-bottom-right-radius: 4px;
	color: #333333;
}

.lastest-news__more {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 4px 12px 0;
	background-color: #71caf2;
	color: #333333;
	border-top-left-radius: 4px;
}

.lastest-news__head {
	margin: 0;
	padding-left: 100px;
	padding-bottom: 25px;
	color: #777;
	font-size: 18px;
	font-weight: 500;
}

.lastest-news__dscr {
	margin: 0;
	padding-bottom: 25px;
	color: #333333;
}