.schools-list {
	margin-bottom: 1vw;
}

.school-card:not(:last-child) {
	margin-bottom: 1vw;
}

.school-card__header {
	position: relative;
}

.school-card__name {
	color:	var(--main-blau);
	font-size: 26px;
	text-transform: uppercase;
	letter-spacing: .05em;

}

.school-card__year {
	position: absolute;
	bottom: -20px;
	right: 0;
	padding: 1px 5px 0;
	background-color: #0001 ;
}


.school-card__image {
	background-color: #3331;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: safe center;
	min-width: 320px;
	min-height: 240px;
}

.school-card__service-types {
	display: flex;
}

.school-card__service-item {
	padding: 1px 5px 0;
	text-transform: uppercase;
	color: #FFFFFF;
	font-size: 10px;
	letter-spacing: .1em;
	background-color: #0005;
}

.school-card__service-item:not(:last-child) {
	margin-right: 5px;
}

/* Responsive section */

@media (min-width: 700px) {

	.schools-list {
		margin-bottom: 0;
	}

	.school-card__content {
		position: relative;
	}

	.school-card__image {
		position: absolute;
		top: 0;
		left: 0;
		width: 320px;
		height: 240px;
		box-shadow: 12px 0 white, 14px 0 var(--main-blau);
		background-color: #3331;
	}

	.school-card__description {
		margin-left: 345px;
		min-height: 240px;
	}
  }
  
	/* End of Responsive section */
