@import "variables.css";
@import "main.css";
@import "typo.css";

@import "forms.css";
@import "slider.css";
@import "buttons.css";
@import "jqtransform.css";
@import "jqtransform-2.css";
@import "datepicker.css";

@import "fonts.css";
@import "arrow-to-top.css";
@import "burger-button.css";

@import "header.css";
@import "footer.css";
@import "main-content.css";
@import "home-page.css";
@import "inner-page.css";
@import "main-search-form.css";
@import "contact-form.css";

/* Old code */

.price {
	font-size: 22px;
	line-height: 28px;
	color: #696969;
}

.price span {
	display: inline-block;
	font-size: 10px;
	line-height: 12px;
	color: #a1a0a0;
	margin: 12px 0 0 15px;
}

.box-1 .price {
	margin: 11px 0 14px 0;
}

.box-3 {
	overflow: hidden;
}

.box-3 ul {
	overflow: hidden;
}

.box-3 ul li {
	display: block;
	margin-top: 34px;
	padding-top: 27px;
	border-top: #e0e0e0 1px solid;
	overflow: hidden;
}

.box-3 ul li:first-child {
	border-top: none;
	margin-top: 0;
}

.box-3 h3 {
	margin: 0px 0 14px 0;
}

.box-3 img {
	float: left;
	margin: 0 30px 0 0;
}

.box-3 .price {
	margin: 11px 0 14px 0;
}

.page2-banner1 {
	background: url(../images/page2-banner-1.jpg) right bottom no-repeat #fff;
	padding: 14px 20px 50px 20px;
}

.page2-banner1 a {
	margin-top: 16px;
}

.page2-banner2 {
	background: url(../images/page2-banner-2.jpg) right bottom no-repeat #fff;
	padding: 14px 20px 50px 20px;
}

.page2-banner2 a {
	margin-top: 16px;
}

.pdf {
	padding: 11px 0 11px 0;
}

.box-4 {
	padding-bottom: 30px;
}

.box-4 li {
	display: block;
	overflow: hidden;
	margin-top: 20px;
}

.box-4 li:first-child {
	margin-top: 0;
}

.box-4 li span {
	background: url("../images/number.png") no-repeat scroll 0 0 transparent;
	color: #FFFFFF;
	display: block;
	float: left;
	font-size: 24px;
	height: 35px;
	line-height: 29px;
	margin: 4px 10px 0 0;
	padding-top: 4px;
	text-align: center;
	width: 39px;
}

.box-4 li p {
	overflow: hidden;
}

.lists {
	overflow: hidden;
	line-height: 24px;
	margin-top: 10px;
	margin-bottom: 18px;
}

.lists>div {
	float: left;
	width: 210px;
	margin-right: 30px;
}

.lists>div p {
	overflow: hidden;
}

.lists>div p span:first-child {
	display: inline-block;
}

.lists>div p span+span {
	display: inline-block;
}

.ui-datepicker-trigger {
	width: auto !important;
}

/******* forms *******/


.form-title>span {
	display: block;
	color: #71caf2;
	font-size: 17px;
	line-height: 22px;
	margin-top: -4px;
}

#form1 {
	margin-top: 12px;
}

#form1 label {
	display: block;
	position: relative;
	margin-bottom: 15px;
}

#form1 label>span {
	display: block;
	font-size: 20px;
	color: #71caf2;
	margin-bottom: 10px;
}

#form1 .select1 {
	display: block;
	width: 100%;
	height: 35px;
	padding: 0 5px;
	font: inherit;
	border-radius: 2px;
	appearance: none;
	background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='rgb(68,68,68)' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'/></svg>");
	background-position: 100% 50%;
	background-repeat: no-repeat;
	background-color: rgba(0, 0, 0, .04);
	border: 1px solid #bbbbbb;
}

#form1>a {
	display: block;
}

.col-1 {
	float: left;
	width: 220px;
	margin-right: 20px;
	display: block;
	font-weight: 300;
}

.col-2 {
	float: left;
	width: 170px;
	display: block;
	font-weight: 300;
}

/**********************form**********************/

.small-form {
	max-width: 520px;
	min-width: 270px;
	margin: auto;
	background-color: #fff;
	padding: 15px 18px;
	border-radius: 2px;
	box-shadow: var(--block-shadow);
}

/* old */
.map {
	width: 410px;
	height: 369px;
	margin: 0px 20px 20px 0;
}

.map iframe {
	width: 410px;
	height: 369px;
}

dl.adrss {
	width: 180px;
	overflow: hidden;
	float: left;
}

dl.adrss dt {
	margin-bottom: 13px;
	font-size: 12px;
	line-height: 16px;
}

dl.adrss dd span {
	display: block;
	width: 70px;
	float: left;
}

.inner-block li img {
	max-width: 290px;
	max-height: 167px;
	border-radius: 15px 0px 0px 15px;
	border: #e0e0e0 1px solid;
}

.login-text {
	text-transform: none;
	margin: 5px 0;
}

#content .full-search>img {
	max-width: 86px;
	display: none;
	position: absolute;
	top: 0px;
	right: 25px
}

.full-search #form2>a {
	width: 200px;
}

.search-result ul li img {
	max-width: 150px;
	float: left;
	margin-right: 10px;
}

.search-result ul li .left {
	float: left;
}

.search-result ul li {
	margin-bottom: 20px;
}

.search-result ul li .price-block {
	float: right;
}

.search-result ul li .price {
	display: inline-block;
	margin-right: 20px;
	line-height: 42px;
}

.school .school-photo {
	float: left;
	margin: 0 12px 10px 0;
	box-shadow: 0 1px 4px rgba(50, 50, 50, 0.25);
}

.news .date {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin-left: 20px;
}

.main-content li a.button {
	margin-top: 10px;
}

#form2 .label.half {
	width: 175px;
	display: inline-block;
}

#form2 .label.half .inp-2 {
	width: 71px;
}

.errorSummary {
	margin-bottom: 20px;
	color: #900;
}

.order-details {
	margin: 20px 0;
	width: 434px;
}

.order-details td {
	padding: 7px;
	border: 1px solid #ccc;
}

.order-details td:nth-child(1) {
	font-size: 11px;
	font-weight: bold;
}

.order-details .total {
	font-weight: bold;
	font-size: 12px;
}

.payments td {
	border: 1px solid #ccc;
	padding: 0 5px;
}

.banners-right {
	margin: 20px;
}

.right-banner {
	margin-bottom: 20px;
}

.full-search .form-title {
	width: 300px;
}

#form2 .label.rent-type {
	display: none;
}

#form2 .label.rent-type label {
	display: inline-block;
}

#form2 .label.rent-type .select2 span {
	width: 200px;
}

#order .comment {
	margin-top: 10px;
	clear: both;
	background-color: #f1fcfe;
	padding: 5px;
	display: inline-block;
	font-size: 14px;
}

#order .comment span {
	color: red;
	font-size: 150%;
}

#order .button {
	width: 236px;
}

.order-form h2 {
	margin-bottom: 12px;
}

.order-form input[type=text] {
	float: left;
	border: #d0d0d0 1px solid;
	width: 212px;
	height: 13px;
	font-size: 10px;
	color: #696969;
	text-transform: uppercase;
	padding: 5px 10px 6px 10px;
	outline: none;
}

.order-form label {
	float: left;
	width: 200px;
}

.order-form input[type=checkbox] {
	margin: 5px 0;
}

.order-form .row {
	margin: 2px 0;
}

.order-form .errorMessage {
	margin-left: 150px;
	clear: both;
}

#order-page h2.p3 {
	margin-bottom: 52px;
}

#order-page .order-form {
	width: 455px;
	float: left;
	margin-bottom: 20px;
}

#order-page .order-form.left {
	border-right: 2px solid #CCCCCC;
	margin-right: 20px;
}

.order-form .cards {
	margin-left: 200px;
}

#content img.side-ico {
	height: 100px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}

#content .full-search img.side-ico {
	height: 60px;
	margin-top: 10px;
}

.paypal-logo {
	margin-left: 15px;
	height: 32px;
}

#map-canvas {
	clear: both;
	margin: 7px auto 0;
}

#order {
	clear: both;
}

#login-form .register .register-text {
	font-size: 24px;
	margin-top: 14px;
	display: block;
}

#login-form .register .register-text a {
	font-size: 24px;
	display: inline;
}

/******************** Responsive OLD ******************/

@media only screen and (min-width: 1024px) {
	#content .full-search>img {
		display: block;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.box-1 ul {
		width: 261px;
	}
}

@media only screen and (max-width: 995px) {
	.box-1 ul {
		width: 231px;
	}

	ul.sf-menu>li>a {
		font-size: 13px;
		padding: 26px 8px 30px;
	}

	.box-3 img {
		float: none;
		margin: 0 30px 30px 0;
		padding-left: 20px;
		border-radius: 15px 0px 0px 15px;
	}

	.camera_wrap {
		min-height: 240px;
	}

	.page2-banner2,
	.page2-banner1 {
		padding: 0;
		background: none;
	}
	.lists>div {
		float: none;
		width: 100%;
	}

	.map {
		margin: 0 0 20px 0;
		float: none;
		width: 100%;
	}

	.map iframe {
		width: 100%;
	}
}

@media only screen and (max-width: 800px) {
	.box-1 ul {
		width: 230px;
	}
	ul.sf-menu>li>a {
		font-size: 12px;
		padding: 26px 9px 30px;
	}
	.camera_wrap {
		min-height: 200px;
	}
}

@media only screen and (max-width: 767px) {
	
	.box-1 ul {
		float: none;
		margin-right: 0px;
		width: 100%;
	}

	.camera_wrap {
		min-height: 200px;
	}

	.grid_4.search-block {
		box-shadow: none;
		background: none;
	}

	.search-block.full-search {
		box-shadow: none;
		background: none;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {

	.floatright {
		float: left;
	}

	.floatleft {
		float: right;
	}

	.camera_target_content {
		display: none;
	}

	#content img {
		width: 100%;
		height: auto;
	}

	#content .order-form img {
		width: auto;
	}

	#content .search-block img {
		width: auto;
		height: auto;
	}

	.camera_wrap {
		min-height: 150px;
	}
	
	.box-1 ul {
		float: none;
		margin-right: 0px;
		width: 100%;
	}

	.pad-1 {
		padding: 0;
	}

	.page2-banner2,
	.page2-banner1 {
		padding: 0;
	}

	#form2 .inp-1 {
		margin-bottom: 5px;
	}

	.lists>div {
		float: none;
		width: 100%;
	}

	.map {
		margin: 0 0 20px 0;
		float: none;
		width: 100%;
	}

	.map iframe {
		width: 100%;
	}
}

@media only screen and (max-width: 479px) {

	.order-details {
		width: 280px !important;
	}
	.order-form .cards {
		margin-left: 100px !important;
	}
	.order-form label {
		width: 100px !important;
	}
	.order-form input[type="text"] {
		width: 160px !important;
	}
	#content img {
		width: 100%;
		height: auto;
	}
	#content .order-form img {
		width: auto;
	}
	#content .search-block img {
		width: auto;
		height: auto;
	}
	.camera_wrap {
		min-height: 100px;
	}

	.camera_target_content {
		display: none;
	}
	.box-1 ul {
		float: none;
		margin-right: 0px;
		width: 100%;
	}
	.pad-1 {
		padding: 0;
	}
	.page2-banner2,
	.page2-banner1 {
		padding: 0;
		background: none;
	}
	#form2 .inp-1 {
		margin-bottom: 5px;
	}
	a.link-pdf {
		display: block;
		margin-bottom: 0;
	}
	.lists>div {
		float: none;
		width: 100%;
	}
	.map {
		margin: 0 0 20px 0;
		float: none;
		width: 100%;
	}
	.map iframe {
		width: 100%;
	}
	.box-3 img {
		float: none;
		margin: 0 30px 15px 0;
	}
}