@import "variables.css";
@import "main.css";
@import "typo.css";

@import "forms.css";
@import "slider.css";
@import "buttons.css";

@import "fonts.css";
@import "arrow-to-top.css";
@import "burger-button.css";

@import "header.css";
@import "footer.css";
@import "main-layout.css";
@import "schools-card.css";
@import "inner-page.css";
@import "main-search-form.css";
@import "contact-form.css";
@import "order.css";


/******* forms *******/

.small-form {
	max-width: 520px;
	min-width: 270px;
	margin: auto;
	background-color: #fff;
	padding: 15px 18px;
	border-radius: 2px;
	box-shadow: var(--block-shadow);
}

/* old */

.inner-block li img {
	max-width: 290px;
	max-height: 167px;
	border-radius: 15px 0 0 15px;
	border: #e0e0e0 1px solid;
}

.login-text {
	text-transform: none;
	margin: 5px 0;
}

.full-search #form2>a {
	width: 200px;
}

.errorSummary {
	margin-bottom: 20px;
	color: #900;
}

.payments td {
	border: 1px solid #ccc;
	padding: 0 5px;
}

.full-search .form-title {
	width: 300px;
}

#order .comment {
	margin-top: 10px;
	clear: both;
	background-color: #f1fcfe;
	padding: 5px;
	display: inline-block;
	font-size: 14px;
}

#order .comment span {
	color: red;
	font-size: 150%;
}

.order-form h2 {
	margin-bottom: 12px;
}

.order-form input[type=text] {
	float: left;
	border: #d0d0d0 1px solid;
	width: 212px;
	height: 13px;
	font-size: 10px;
	color: #696969;
	text-transform: uppercase;
	padding: 5px 10px 6px 10px;
	outline: none;
}

.order-form input[type=checkbox] {
	margin-right: 5px;
}

.order-form .cards {
	margin-left: 200px;
}

.paypal-logo {
	margin-left: 15px;
	height: 32px;
}

/******************** Responsive OLD ******************/

@media only screen and (min-width: 1024px) {
	#content .full-search>img {
		display: block;
	}
}


@media only screen and (min-width: 480px) and (max-width: 767px) {

	#content .order-form img {
		width: auto;
	}

	#content .search-block img {
		width: auto;
		height: auto;
	}

	#form2 .inp-1 {
		margin-bottom: 5px;
	}
}

@media only screen and (max-width: 479px) {

	.order-details {
		width: 280px !important;
	}

	.order-form .cards {
		margin-left: 100px !important;
	}

	.order-form label {
		width: 100px !important;
	}

	.order-form input[type="text"] {
		width: 160px !important;
	}

	#content .order-form img {
		width: auto;
	}

	#content .search-block img {
		width: auto;
		height: auto;
	}
}