/*
|--------------------------------------------------------------------------
| UItoTop jQuery Plugin 1.1
| http://www.mattvarone.com/web-design/uitotop-jquery-plugin/
|--------------------------------------------------------------------------
*/

#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	left: 54%;
	margin-left: 502px;
	bottom: 20px;
	cursor: pointer;
	overflow: hidden;
 	width: 56px;
	text-align: center;
 	border: none;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	padding: 10px;
}

#toTop:hover {
	background-color: rgba(0, 0, 0, 0.8);
 	display: block;
	overflow: hidden;
	float: left;
	transition: all 0.3s ease;
}